.ellipsis {
    --lines-limit: 1;
    overflow: hidden;

    @supports not (-webkit-line-clamp: 1) {
        --line-height: 1.6em;
        line-height: var(--line-height) !important;
        max-height: calc(var(--line-height) * var(--lines-limit));
    }

    @supports (-webkit-line-clamp: 1) {
        display: -webkit-box;
        -webkit-line-clamp: var(--lines-limit);
        -webkit-box-orient: vertical;
    }
}
